.question-glimpse-avatar {
  width: 45px;
  height: 45px;
  display: inline-flex;
  margin: 15px 15px;
}

.would-you-rather {
  font-family: fantasy;
  font-size: 25px;
  padding: 10px 10px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 15px 15px;
}

.options {
  white-space: nowrap;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  margin: 15px 15px;
  padding: 10px 10px;
}

.view-poll-button {
  margin: 15px 15px;
  padding: 10px 10px;
  float: right;
}
